[Desktop Entry]
Encoding=UTF-8
Name=Link to .gitignore file - ignoring files in Git | Atlassian Git Tutorial
Type=Link
URL=https://www.atlassian.com/git/tutorials/saving-changes/gitignore
Icon=text-html
