[Desktop Entry]
Encoding=UTF-8
Name=Link to ECMAScript 6: New Features: Overview and Comparison
Type=Link
URL=http://es6-features.org/#Constants
Icon=text-html
