[Desktop Entry]
Encoding=UTF-8
Name=Link to JavaScript Date Reference
Type=Link
URL=https://www.w3schools.com/jsref/jsref_obj_date.asp
Icon=text-html
