[Desktop Entry]
Encoding=UTF-8
Name=Link to Create A REST API With JSON Server – CodingTheSmartWay.com Blog – Medium
Type=Link
URL=https://medium.com/codingthesmartway-com-blog/create-a-rest-api-with-json-server-36da8680136d
Icon=text-html
