[Desktop Entry]
Encoding=UTF-8
Name=Link to MySQL UPDATE Statement - Updating Data In a Table
Type=Link
URL=http://www.mysqltutorial.org/mysql-update-data.aspx
Icon=text-html
