[Desktop Entry]
Encoding=UTF-8
Name=Link to MySQL Tutorial - Learn MySQL Fast, Easy and Fun.
Type=Link
URL=http://www.mysqltutorial.org/
Icon=text-html
