[Desktop Entry]
Encoding=UTF-8
Name=Link to Requiring modules in Node.js: Everything you need to know
Type=Link
URL=https://medium.freecodecamp.org/requiring-modules-in-node-js-everything-you-need-to-know-e7fbd119be8
Icon=text-html
